/* I learned how style elements have different priorities each other */

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color:pink;
  }
</style>
<h1 class="pink-text">Hello World!</h1>
